.landing-background{
    min-height: 100vh;
    background-image: url('../assets/skyline-background.jpg');
    background-size: cover;
}

.blur {
    min-width: 100%;
    min-height: 100vh;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.landing-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-title{
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.email-input-container{
    position: relative;

    height: 30px;
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.password-input-container{
    position: relative;

    height: 30px;
    margin-top: 10px;
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-email-arrow{
    width: 28px;
    opacity: 1;
    position: absolute;
    left: 100%;
    transform: translateX(calc(-100% - 5px));
    transition: opacity 0.4s ease-in-out;
}

.login-email-arrow:hover{
    cursor: pointer;
}

.login-email-arrow.disabled{
    opacity: 0.75;
    cursor: auto;
}

.login-email-arrow.hide{
    display: none;
}

.login-password-arrow{
    display: none;
    width: 28px;
    opacity: 1;
    position: absolute;
    left: 100%;
    transform: translateX(calc(-100% - 5px));
}

.login-password-arrow:hover{
    cursor: pointer;
}

.login-password-arrow.disabled{
    opacity: 0.75;
    cursor: auto;
}

.login-password-arrow.show{
    display: block;
    animation: delay-show 0.5s linear;
}

.landing-login-input {
    width: 100%;
    height: 20px;
    outline: none;
    font: 15px Helvetica Neue, sans-serif;
    background: rgba(255,255,255,1);
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 6px;
}

.landing-login-input.disabled {
    pointer-events: none;
}

.landing-login-input.invalid {
    color:red;
}

.landing-login-input::placeholder {
    color: black;
}

.landing-login-submit-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#email-input.topborderonly{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom: 1px solid black;
    z-index: 1;
}

#password-input{
    display: none;
}

#password-input.show{
    display: block;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    animation: slide-down 0.5s linear;
}

.login-submit-margin-top{
    margin-top: 10px;
}

.landing-login-submit{
    width: 25%;
    height: 40px;
    outline: none;
    font: 15px Helvetica Neue, sans-serif;
    background: rgba(255,255,255,1);
    color: black;
    border: none;
    border-radius: 18px;
    transition: background 0.15s ease-in-out, background-color 0.35s ease-in-out;
}

.landing-login-submit:hover{
    cursor: pointer;
    background: rgba(225,225,225,0.95);
}

.landing-login-submit.processing{
    color: rgba(0,0,0,0);
    width: 40px;
    border-radius: 50%;
    transition: width 0.3s ease-in-out, border-radius 0.25s ease-in-out;
}

.landing-login-loading-icon{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: loading-icon-anim 1.2s linear infinite;
}

.landing-login-loading-icon.hide{
    display: none;
}

.landing-login-checkmark-icon.hide{
    display: none;
}

.landing-login-checkmark-icon.success{
    display: block;
    position: absolute;
    margin-top: 19px;

    width: 22px;
    height: 22px;

    transition: 0.5s ease-in-out;
}

.landing-login-failure-icon.hide{
    display: none;
}

.landing-login-failure-icon.failure{
    display: block;
    position: absolute;
    margin-top: 20px;

    width: 20px;
    height: 20px;

    transition: 0.5s ease-in-out;
}

.landing-login-success-ring{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.landing-login-success-ring.hide{
    display: none;
}

.landing-login-failure-ring{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.landing-login-failure-ring.hide{
    display: none;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes delay-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 75%;
    }
}

@keyframes loading-icon-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

