.landing-background{
    min-height: 100vh;
    background-image: url('../assets/tesla-background.jpg');
    background-size: cover;
}

.blur {
    min-width: 100%;
    min-height: 100vh;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);
}

.landing-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 350px;
    background: rgba(0,0,0,0.55);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-container.success{
    border: 2px solid green;
    transition: border 0.5s ease-in-out;
}

.landing-container.failure{
    border: 2px solid red;
    transition: border 0.5s ease-in-out;
}

.landing-container.processing{
    border: 2px solid blue;
    transition: border 0.25s ease-in-out;
}

.login-form-container{
    height: 100%;
    width: 60%;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title{
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    align-self: center;
}

.email-input-container{
    position: relative;

    height: 30px;
    width: 100%;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.password-input-container{
    position: relative;

    height: 30px;
    width: 100%;
    margin-top: 10px;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landing-login-input {
    width: 100%;
    height: 20px;
    outline: none;
    font: 15px Helvetica Neue, sans-serif;
    background: rgba(255,255,255,1);
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 6px;
}

.landing-login-input.failure {
    color:red;
    transition: color 0.5s ease-in-out;
}

.landing-login-input.failure::placeholder {
    color:red;
    transition: color 0.5s ease-in-out;
}

.password-input-container.failure {
    color:red;
    transition: color 0.5s ease-in-out;
}

.landing-login-input::placeholder {
    color: black;
}

#email-input{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom: 1px solid black;
    z-index: 1;
}

#password-input{
    display: block;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.login-submit-button{
    align-self: center;
    width: 100%;
    height: 30px;

    margin-top: 10px;
    padding: 6px;
    background-color: rgba(255,255,255,1);

    border: none;
    border-radius: 6px;

    transition: all 0.4s;
}

.login-submit-button:hover{
    cursor: pointer;
}

.login-submit-button:disabled:hover{
    cursor: auto;
}

.login-submit-button:disabled{
    background-color: rgba(255,255,255,0.8);
}

@keyframes loading-icon-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

